name: Deploy Backend
on:
  push:
    branches: [ main ]
    paths:
      - 'api_inmuebles/**'

permissions:
  id-token: write
  contents: read

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          role-to-assume: ${{ secrets.AWS_ROLE_ARN }}
          aws-region: us-east-1

      - name: Login to Amazon ECR
        id: login-ecr
        uses: aws-actions/amazon-ecr-login@v2

      # Configuramos Buildx para poder usar opciones avanzadas de limpieza
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Build, tag, and push image to Amazon ECR
        env:
          ECR_REGISTRY: ${{ steps.login-ecr.outputs.registry }}
          ECR_REPOSITORY: meli-api-repo
          IMAGE_TAG: latest
        run: |
          cd api_inmuebles
          # --provenance=false elimina los metadatos que la Lambda no soporta
          # --platform linux/amd64 asegura que la arquitectura sea la correcta
          docker build --provenance=false --platform linux/amd64 -t $ECR_REGISTRY/$ECR_REPOSITORY:$IMAGE_TAG .
          docker push $ECR_REGISTRY/$ECR_REPOSITORY:$IMAGE_TAG

      - name: Update Lambda function
        run: |
          aws lambda update-function-code \
            --function-name meli-api-lambda \
            --image-uri 196861675915.dkr.ecr.us-east-1.amazonaws.com/meli-api-repo:latest